@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #B0C3DD;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}

.header-svg {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.container {
    padding: 10px;
}

h1 {
    font-size: 64px;
    margin: 10px 0;
}

h2 {
    font-size: 48px;
    margin: 10px 0;
}

.info-header {
    font-size: 32px;
    margin: 10px 0;
    color: #00ff00;
}
.info_page {
    overflow: scroll;
}

.date,
.location {
    margin: 10px 0;
    font-family: 'Playfair Display', serif;
}

.date {
    font-size: 36px;
}

.location {
    font-size: 28px;
    margin-bottom: 20px;
}

.countdown {
    font-size: 20px;
    color: #ccc;
}

.header-svg path {
    fill: #B0C3DD;
}

p {
    margin: 5px 0;
    color: #fff;
}

.verse {
    margin: 5px 0;
    color: #ccc;
}

a {
    text-decoration: underline;
    color: #ccc;
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;
}

.mute-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 3;
}

.mute-button img {
    width: 40px;
    height: auto;
}

#particles-js {
    position: fixed;
    width: 100vw; 
    height: 100vh;
    top: 0;
    left: 0;
    background-size: cover;
    background-color: #000;
    background-position: center;
    /* flex-direction: column; */
    z-index: -1;
    /* overflow: hidden; */
    transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
    overflow-y:hidden;
    overflow-x:hidden;
}

.modal {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Darker background overlay */
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s;
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3); /* Shadow effect */
    text-align: left;
    position: relative;
    animation: slideIn 0.5s ease-in-out; /* Slide in effect */
}

.modal-content h2 {
    font-size: 36px;
    color: #444;
    font-family: 'Playfair Display', serif; /* Stylish heading font */
    text-align: center;
    margin-bottom: 15px;
}

.modal-content p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
}

.modal-content p strong {
    font-weight: 700;
    color: #444;
}

.modal-content .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
    transition: color 0.3s;
}

.modal-content .close:hover,
.modal-content .close:focus {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

/* Slide-in animation */
@keyframes slideIn {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal-content img {
    width: 150px;
    height: 150px;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.info-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 3;
}

.info-button img {
    width: 40px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

@media (max-width: 768px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 28px;
    }

    .date {
        font-size: 28px;
    }

    .location {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .countdown {
        font-size: 18px;
    }

    .mute-button img {
        width: 30px;
    }

    .header-svg {
        width: 120px;
    }

    p {
        font-size: 16px;
        margin-left: 16px;
        margin-right: 16px;
    }

    a {
        font-size: 16px;
    }

    .container {
        padding: 5px;
        position: absolute;
    }

    .modal-content {
        width: 90%;
        max-width: 350px;
        padding: 15px;
    }

    .info-button img {
        width: 30px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    .date {
        font-size: 24px;
    }

    .location {
        font-size: 18px;
        margin: 5px;
        
    }
}


/* Side navigation menu styling */
.sidenav {  
    height: 100%;
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #333;
    padding-top: 10vh;
}

.sidenav a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    text-align: left;
}

.sidenav a:hover {
    background-color: #575757;
}

/* Main content styling */
.main-content {
    margin-left: 210px; /* Same as the width of the sidenav */
    margin-right: 0px;
    padding-bottom: 100px;
    padding-top: 100px;
    /* width: 37vh; */ /* I'm not setting width here because the parent div sends in a weird black bar on the right in all child divs*/
    height: 90vh;
}

/* Hidden by default */
.tabcontent {
    display: none;
    margin-top: 10em;
    padding-bottom: 50px;
}

/* Show the active tab */
.active-content {
    margin-top: 30px;
    display: block;
    margin-top: 10em;
}

/* Add an active class to the active link */
.sidenav a.active {
    background-color: #575757;
}

/* Icon styling (optional) */
.sidenav i {
    margin-right: 10px;
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
    .sidenav {
        width: 150px; /* Smaller sidebar for smaller screens */
    }

    .sidenav a {
        font-size: 16px; /* Smaller font size for mobile */
        padding: 12px 15px; /* Adjust padding for better fit */
    }

    .main-content {
        margin-left: 160px; /* Adjust margin to match the smaller sidebar */
    }
}

@media screen and (max-width: 480px) {
    .sidenav {
        width: 120px; /* Even smaller sidebar for mobile phones */
    }

    .sidenav a {
        font-size: 14px; /* Smaller font size for very small screens */
        padding: 10px 12px; /* Tighter padding for very small screens */
    }

    .main-content {
        margin-left: 130px; /* Adjust margin to match smaller sidebar */
        top: 10em;
        
    }
}

#TopSights, #Shopping, #Restaurants, #Hotel {
    text-align: start;
    /* justify-content: flex-start; */
    /* overflow-y: auto; */
    /* padding-top: 10%; */
}
}